* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input {
  margin: 20px;
  padding: 5px 100px 5px 5px;
  border-radius: 3px;
  justify-content: center;
}
.gallery {
  margin: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 25px;
  row-gap: 25px;
}
